body {
    font-family: 'Fredoka One', cursive;
    background-color: white;
    color: black;
    margin: 0;
    font-size: 15px; /* Triple the original size */
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    background-color: transparent;
    text-align: center;
  }
  
  nav li {
    display: inline;
    margin-right: 10px; /* Triple the original margin */
  }
  
  nav a {
    text-decoration: none;
    padding: 60px;
    color: black;
    font-size: 30px; /* Triple the original size */
  }
  
  .hero {
    background-image: url("https://i.ibb.co/YQdqrwJ/openart-image-RVi33lr7-1715650818970-raw.jpg");
    background-size: cover; /* Cover the whole viewport */
    background-position: center;
    min-height: 100vh; /* Ensure it covers the full height */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
  }
  
  .hero h1 {
    font-size: 60px; /* Triple the original size */
  }
  
  .container {
    text-align: left;
    padding: 50px; /* Triple the original padding */
  }
  
  .container img {
    max-width: 100%;
    height: auto;
    margin-bottom: 60px; /* Triple the original margin */
  }

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  footer {
    margin-top: auto; /* Push footer to bottom */
    text-align: center;
    padding: 30px; /* Triple the original padding */
    font-size: 15px; /* Triple the original size */
    background-color: #f0f0f0; /* Example background color */
  }

  nav ul li a img { 
    height: 30px;         /* Adjust the size as needed */
    margin: 0 10px;       /* Add spacing between the logos */
    vertical-align: middle; /* Align logos vertically with text */
  }